.contenedorItem {
    display: flex;
    flex-direction: column;       
    align-items: center;        
    justify-content: space-between;
    color: white;    
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 100%;             
    max-width: 400px;        
    box-sizing: border-box;
}

.imageItem {
    width: 100%;             
    max-width: 400px;
    height: 400px;            
    object-fit: cover;           
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 70px ;
}

.nombreItem {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: white;
}

/* ----------- MEDIA QUERIES ----------- */

/* iPad Pro / Tablets grandes */
@media (max-width: 1200px) {
    .contenedorItem {
        max-width: 350px;
    }

    .imageItem {
        max-width: 100%;
    }

    .nombreItem {
        font-size: 22px;
    }
}

/* Tablets / pantallas medianas */
@media (max-width: 992px) {
    .contenedorItem {
        max-width: 300px;
    }

    .nombreItem {
        font-size: 20px;
    }
}

/* Celulares / pantallas pequeñas */
@media (max-width: 600px) {
    .contenedorItem {
        max-width: 100%;
        margin: 10px auto;
    }

    .imageItem {
        max-width: 100%;
        height: auto;
    }

    .nombreItem {
        font-size: 18px;
    }
}
